<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">
  <name>AngularJS demo</name>
  <description>
    Uso de AngularJS empaquetado dentro de una aplicación con phonegap
  </description>
  <author href="" email="fredyhernan057@gmail.com">Han</author>
  <content src="index.html"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="~1.3.2"/>
</widget>
